*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp


# YARD artifacts
.yardoc
_yardoc
doc/

.DS_Store
*.log
*.json

/tmp/rspec_guard_result

/tmp/pids/
/tmp/cache/**/*

/.env

/db/test.sqlite3
# Ignore application configuration
/config/application.yml

/tmp/
/artwork/.zeus.sock
