

#enter-code

  .span4.offset4

    =simple_form_for(@house, :html => {:class => 'form-horizontal'} ) do |f|

      .row 
        %h2 Your beehouse
        %p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
    
      .row.text-center

        .alert.alert-block.text-left
          N.B. This isnt finished of course!
          Here will be a representation of the tube
          configuration with the ability to select the colour for each, and whether each 
          is empty/is leaf-covered/is mud-covered. Work in progress.

        %table.table
          %thead
            %tr
              %th
              %th
              %th
          %tbody
            %tr
              %td.pink
              %td.yellow b
              %td.lavender c
            %tr
              %td 1
              %td 2
              %td 3
            %tr
              %td x
              %td y
              %td z
        
      .row.text-center

        - if notification = f.error_notification
          .alert.alert-error
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            = notification 
        
        =f.input :email, :label => "Your email *", :input_html => {:class => "input-medium" }
        =f.input :postcode,  :label => "Your postcode *", :input_html => {:class => "input-medium" }
        =f.submit 'Submit', :class => 'btn btn-primary'
          

    .row.text-center.alert.alert-block.text-left
    
      %p
        %strong Debugging information
      %p 
        Organisation: 
        %em
          = @house.product.brand.name
      %p 
        Product:
        %em
          =@house.product.name
