#enter-code

  .span4.offset4
  
    .row.text-center

      %h3.text-info Enter your bee house's code here
        
      =form_for @house, :html => {:class => 'form-inline'}  do |f|
        -@house.errors.full_messages.each do |msg|
          %p= msg
        .control-group
          =f.text_field :code, :class => "input-medium", :placeholder =>"e.g. 12345678"
          =f.submit 'Go', :class => "btn btn-primary"
        %p.text-info
          %i.icon-question-sign
          You can find your code of the side of your bee house.
          %br
          %a{:href=>"#"}Help me find it


  .span6.offset3
    .row.text-center.alert.alert-block.text-left
    
      %p
        %strong Development information
      %p Ranges of codes are assigned to an organisation/design combination
      %p For testing purposes use 1000 to 9000
      %p You can only use a code once.
