
#thanks
  .span4.offset4
    %h2 Thank you!
    %p 
      We've sent an email to 
      = @house.email
      confirming your submission. 
    %p
      You can edit your entry at time using the link in the email.
