
<div id="enter-code" class="row">

    <div class="text-center">

      <h3 class="text-info">Enter your bee house's code here</h3>
      
      <form action="/houses/new" method="get" class="form-inline">
        <div class="control-group">
          <input name="code" type="text" class="input-medium" placeholder="e.g. BGFA123456">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
        <div>
        </form>
      <p lass="text-info"><i class="icon-question-sign"></i> You can find your code of the side of your bee house. <br/>
        <a href="#">Help me find it</a></p>
    </div>
    
  </div>

</div>

