// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .lavender {
//   background-color: #F252E0;
// }

// .yellow {
//   background-color:#FFFC33;
// }

// .pink {
//   background-color:#F252E0;
// }

div.control-group div.controls {
  margin-left:120px; 
}

div.control-group .control-label 
{ 
  width:120px; 
}


.bees { margin:auto; }
.tubes { width: 290px; height:290px; text-align:center; margin:auto;}
.tube { float:left; width:90px; height:90px; text-align:center;}
.pink { background-image:url(/assets/pink.png); }
.yellow { background-image:url(/assets/yellow.png); }
.lavender { background-image:url(/assets/lavender.png); }
.material { width:90px; height:90px; }
.mud { background-image:url(/assets/mud.png); }
.leaf { background-image:url(/assets/leaf.png); }
.empty { background-image:url(/assets/empty.png); }
// /.tube {margin-right:10px;margin-bottom:10px;}
.tube.pos_2 {margin-right:0}
.tube.pos_5 {margin-right:0}
.tube.pos_8 {margin-right:0}
