// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.control-group div.controls {
  margin-left:120px; 
}

div.control-group .control-label 
{ 
  width:120px; 
}


.bees { margin:auto; }
.tubes { width: 290px; height:290px; text-align:center; margin:auto;}
.tube { float:left; width:90px; height:90px; text-align:center; cursor: hand;}
.pink { background-image:url(/assets/pink.png); }
.yellow { background-image:url(/assets/yellow.png); }
.lavender { background-image:url(/assets/lavender.png); }
.material { width:90px; height:90px; }
.mud { background-image:url(/assets/mud.png); }
.leaf { background-image:url(/assets/leaf.png); }
.empty { background-image:url(/assets/empty.png); }
.tube.pos_2 {margin-right:0}
.tube.pos_5 {margin-right:0}
.tube.pos_8 {margin-right:0}

.debug {padding-top:20px }
#tubes li {list-style:none; }

.step {
        background-color:#fff;
       -webkit-border-radius:10px; 
       padding:20px;
       clear:both;
       margin:20px 10px 20px 10px;
     }
